body{
    margin: auto;

}

.test{
    width: 100%;
    height: 250px;
    background-color: aquamarine;
}

.red{
    background-color: red;
}

.gery{
    background-color: blue;
}

.lastBtn{
    margin: 25px auto;

}

.addM{
    margin-bottom: 25px;
}